
<div class="empSidenav">
    <h3>ABC Company</h3>
    <div class="navElem">
        <a href="/">Dashboard</a>
        <a href="/">Current Project</a>
        <a href="/">Completed Projects</a>
    </div>
</div>
  