
<div class="empSidenav">
    <h3>Company Name</h3>
    <h4>Name of Manager</h4>
    <a href="/">Dashboard</a>
    <a href="/">In Progress</a>
    <a href="/">Completed</a>
    <a href="/">Create New Project</a>
</div>
  