
<div class="empSidenav">
    <h3>ABC Company</h3>
    <div class="navElem">
        <a href="/">Dashboard</a>
        <a href="/">Current Project</a>
        <a href="/">Completed Projects</a>
        <a href="/createProject">Create New Project</a>
    </div>
    <a class="emplogout" href="/">Logout</a>
</div>
  