<%- include('partials/header') -%>

    <div>
        <%- include('partials/pmNav') -%>
    </div>
 
    <!-- <form>
        <div class="mb-3">
          
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->

    <div class="container">
    <div class="Create-Form">
    <h1>Create Project</h1>
    <form action="/createProject" method="POST">
        <div class="mb-3">
            <label for="projectName" class="form-label">Project Name</label>
            <input type="text" name="projectName" placeholder="Enter Project Name" class="form-control">
            <br>
            <br>
            <label for="projectDescription" class="form-label">Project Description</label>
            <textarea name="projectDescription" id="" cols="100" rows="10" placeholder="Description" class="form-control"></textarea>
            <br>
            <br>
            <label for="location" class="form-label">Location</label>
            <input type="text" name="location" placeholder="Enter Location" class="form-control">
            <br>
            <br>
            <label for="startDate" class="form-label">Start Date</label>
            <input type="date" name="startDate" id="startDate" class="form-control">
            <br>
            <br>
            <label for="endDate" class="form-label">End Date</label>
            <input type="date" name="endDate" id="endDate" class="form-control">
            <br>
            <br>
            <div class="teams-div-sde">
                <label>Select Required Teams</label>
                <br>
                <br>
                <label for="SDE">Software Developer</label>
                <input type="checkbox" name="SDE" id="SDE" value="ENGR"  class="form-check-input" >
                <br>
                <br>
                <div  id="sde-checkbox" style="display: none;">
                    <label>Skills Required</label><br><br>
                    <label for="NodeJS">Mainframe</label>
                    <input type="checkbox" name="Mainframe" id="" value="mainframe" class="form-check-input" ><br><br>
                    <label for="JAVA">JAVA</label>
                    <input type="checkbox" name="JAVA" id="" value="java" class="form-check-input" ><br><br>
                    <label for="ANGULAR">ANGULAR</label>
                    <input type="checkbox" name="ANGULAR" id="" value="angular" class="form-check-input" ><br><br>
                    <label for="IBM">IBM/WEBSPHERE</label>
                    <input type="checkbox" name="IBM" id="" value="IBM" class="form-check-input" ><br><br>
                    <label for="SEngr">Number of Senior Resources Required</label>
                    <input type="number" name="SEngr" class="form-control"><br><br>
                    <label for="MEngr">Number of Medium Resources Required</label>
                    <input type="number" name="MEngr" class="form-control"><br><br>
                    <label for="JEngr">Number of Junior Resources Required</label>
                    <input type="number" name="JEngr" class="form-control"><br><br>
                </div>
            </div>
            <br>
            <div class="teams-div-designer">
                <label for="Designer">UX</label>
                <input type="checkbox" name="Designer" id="FDE" value="UX" class="form-check-input" ><br>
                <div id="designer-checkbox" style="display: none;">
                    <label>Skills Required</label><br><br>
                    <label for="NET">.NET</label>
                    <input type="checkbox" name="NET" id="" value="NET" class="form-check-input" ><br><br>
                    <label for="cloud">CLOUD</label>
                    <input type="checkbox" name="cloud" id="" value="cloud" class="form-check-input" ><br><br>
                    <label for="SUX">Number of Senior Resources Required</label>
                    <input type="number" name="SUX" class="form-control"><br><br>
                    <label for="MUX">Number of Medium Resources Required</label>
                    <input type="number" name="MUX" class="form-control"><br><br>
                    <label for="JUX">Number of Junior Resources Required</label>
                    <input type="number" name="JUX" class="form-control"><br><br>
                </div>
            </div>
            <br>

        </div>
        <input name="Oid" style="display: none;" value=<%=upid%>>
        <button class="button" type="submit">Create Project</button>
    </form>
    <script src="js/createProject.js"></script>
</div>
</div>

</body>
</html>


