<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div>
        <input type="text" id="find">
        <button  name="empSearch" type="submit" id="empSearch">Search For Emp</button>
        <button  name="projSearch" type="submit" id="projSearch">Search For Proj</button>
    </div>
    <!-- <h1 id="activeProjects">Active Projects</h1>
    <h1 id="Employees">Employees</h1> -->
    <div class="projResults" id="Results"></div>
    <div class="projResults" id="empResults"></div>
    <div class="projResults" id="projResults"></div>
    <script src="js/dashboard.js"></script>
</body>
</html>