<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login here!!</title>
    <link  rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    
<div class="overflowHide">
<form action="/empLogin" method="POST">
    <div class="login-form">
        <div class="login-card">
        <div class="login-img">
            <%- include('partials/Login')-%>
        </div>
        <div class="login-credentials">
            <div class="login-username">
        <label for="username" >User Name</label>
        <input
            type="text"
            name="username"
            placeholder="Enter Username"
        />
    </div>
    <div class="login-password">
        <label for="password">Password</label>
        <input
            type="password"
            name="password"
            placeholder="Enter Password"
        />
    </div>
    <input name="role" value="emp" style="display: none;">
    <button type ="submit">Login</button>
    <p>Don't have an account?<a href="/register">   Register</a></p>
    </div>
</div>
</div>
</form>
</div>
</body>
</html>