<%- include('partials/header') -%>
    <div>
        <%- include('partials/empNav') -%>
    </div>
    <div class="empLandingContainer">
        <div >
            <h1>Hello employee</h1>
        </div>
    </div> 
<%- include('partials/footer') -%>