<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>ABC</title>
</head>
<body>
    <div id="company-title">
        <h2 id="title">ABC</h2>
    </div>
    <div class="mainContainer">
        <div class="title-container">
<!--            <div id="company-title">-->
<!--                <h2 id="title">ABC</h2>-->
<!--            </div>-->

            <div class="description-container">
                <h1 id="description">Sign in to</h1>
                <h1>Manage Projects With,</h1>
                <h1>Ease.</h1>
            </div>

            <div>
                <h3 id="extra">Project Management is Now a cake walk...</h3>
            </div>
        </div>

        <div class="login-container" id="login">
            <div class="btn-container" id="employee-container">
                <button class="btn">Employee ID</button>
            </div>
            <div class="btn-container" id="password-container">
                <button class="btn">Password</button>
            </div>
            <div class="btn-container" id="signIn-container">
                <button class="btn">Sign in</button>
            </div>
            <div class="creat-acc" id="createAccount-container">
                <p>Create Account <a href="">Here</a> </p>
            </div>
            <div class="creat-acc" id="manager-link">
                <p>working under a manager? <a href="">Click here.</a></p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
