<%- include('partials/header') -%>
<div class="jumbotron">
    <h1 class="display-4">No resources Available as per your Requirement!</h1>
    <p>Everyone is busy for your desired time interval....</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
<%- include('partials/footer') -%>