<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>
        <% projects.forEach((project,i) => { %>
            <div>
                <form action="/completeProject" method="post">
                    <input type="text" name="projectId" value="<%=project.projectId%>" style="display: none;">
                    <button type="submit">Mark Project Complete</button>
                </form>
                <button><a href="/projects/<%=project.projectId%>">Project <%=i%></a></button>
            </div>
        <%})%>

    </h1>
</body>
</html>