<%- include('partials/header') -%>

    <div>
        <%- include('partials/pmNav') -%>
    </div>
    <h1>
        PM landing
    </h1>
    <div>
       <a href="/createProject">Create Project</a>
    </div>
    <div>
        completed project
    </div>
    <%- include('partials/footer') -%>
