<%- include('partials/header') -%>

    <div class="pm-btn-group navbar">
        <input placeholder="  Search Here" type="text" id="find">
        <button  name="pm-button" type="submit" id="empSearch">Search For Employee</button>
        <button  name="pm-button" type="submit" id="projSearch">Search For Project</button>
    </div>
    <div class="projResults" id="Results"></div>
    <div class="projResults" id="empResults"></div>
    <div class="projResults" id="projResults"></div>
    <script src="js/dashboard.js"></script>
</div>

<%- include('partials/footer') -%>